# .env.example

# --------------------------
# Backend Configuration
# --------------------------
# The PostgreSQL connection string. Update credentials as necessary.
DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://<USER>:<PASSWORD>@<HOST>:5432/postgres"

# --------------------------
# Frontend Configuration
# --------------------------
# The URL where the frontend will reach the FastAPI backend
NEXT_PUBLIC_API_URL=http://localhost:8081
